/* white you custom css code here. only css code will work */
.single-what-we-cover-item .content h4.title{
	font-size:1.2rem;
}
.quality-content-wrapper h4.title{
	font-size: 2.6rem;
    line-height: 45px;
}